$color__main  : #003D7B;
$color__secondary : darken( $color__main, 10% );
$color__tertiary: lighten( $color__main, 35% );
$color__white : #FFF;
$color__black : #161616;
$color__gray  : #95A5A6;

$color__body_grad1 : #002D52;
$color__body_grad2 : #001C3A;

$color__elite  : #FE2631;
$color__gold   : #FFDE00;
$color__silver : #B1C1D2;
$color__bronze : #AD5329;

$color__progress: $color__gold; //#FEBF00;
$color__progress-abl: #01FF70;

/*
#003973;
#001429;
*/